settings {
    logfile    = "/tmp/lsyncd.log",
    statusFile = "/tmp/lsyncd.status",
    nodaemon   = true,
}
sync {
    default.rsyncssh,
    source    = "/Users/bryroque/lsynclocal",
    host = "dev-dsk-bryroque-2b-9b1b2ce0.us-west-2.amazon.com",
    targetdir = "/home/bryroque/lsynctest",
    delay = 1,
    rsync     = {
        binary   = "/usr/local/bin/rsync",
        archive  = true,
        compress = true,
   },
   ssh = {
       identityFile = "/Users/bryroque/.ssh/id_rsa",
       options = {
          User = 'bryroque'
       }
  }
}
